:root {
  --light_red: #FF5761;
  --red: #E4163A;
  --dark_red: #C60E2E;
  --blue: #344472;
  --lightest_red: #FF768E;
  --lightest_grey1: #f6f6f6;
  --lightest_grey: #D1D1D1;
  --light-grey: #9C9C9C;
  --dark_grey: #303030;
  --grey: #707070;
  --white: #ffffff;
  --light_black: #707070;
  --silver: #F5FBFF;
  --dark_black: #393939;
  --black: #000000;
  --dark_blue: #344472;
}